@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

:root {
  --Cyan: hsl(179, 62%, 43%);
  --BrightYellow: hsl(71, 73%, 54%);
  --LightGray: hsl(204, 43%, 93%);
  --GrayishBlue: hsl(218, 22%, 67%);
  --Fontsize: 16px;
  --Headings: "Manrope", sans-serif;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  background-color: hsl(204, 43%, 93%);
  font-family: "Karla", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

#container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 100px;
  width: 650px;
  align-items: center;
  justify-content: center;
}

h2 {
  color: hsl(179, 62%, 43%);
}

h3 {
  color: white;
}

.join {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  background-color: white;
  padding: 42px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 100%;
}

.join > h3 {
  margin: 15px 0;
  font-weight: 700;
}

.join > p {
  color: hsl(218, 22%, 67%);
  font-weight: 400;
  padding: 0px 10px 0px 0px;
  line-height: 1.7;
}

.monthly {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 6;
  background-color: hsl(179, 62%, 43%);
  border-bottom-left-radius: 5px;
  margin: 20px 0px;
  padding: 60px 30px;
}

.why_us {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 6;
  background-color: hsl(179, 62%, 50%);
  padding: 30px 35px 50px 40px;
  border-bottom-right-radius: 5px;
}

.why_us > h3 {
  margin-bottom: 20px;
}

button {
  margin-top: 30px;
  background-color: hsl(71, 73%, 54%);
  bottom: 30px;
  padding: 13px;
  border-radius: 5px;
  width: 240px;
  color: white;
  border: none;
}

button:hover {
  background-color: rgb(138, 163, 24);
  color: white;
  cursor: pointer;
}

button:focus {
  outline: none;
}

.box {
  width: 100%;
  color: white;
  line-height: 1.4;
}

.box li {
  color: hsl(204, 43%, 93%);
}

@media screen and (max-width: 750px) {
}
